@model IEnumerable<Repository.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <p>
        <b>ID</b> @Html.TextBox("id")
        <b>Customer Id</b> @Html.TextBox("customerId")
        <b>Max price</b> @Html.TextBox("price")
        <b> Comments</b> @Html.TextBox("comments")
        <b>Prefered</b> @Html.CheckBox("isPrefered")
        <input type="submit" class="btn btn-default" value="Filter" />
</p>
}

<table>
    <tr>
        <th>
            Customer ID
        </th>
        <th>
            Order Date
        </th>
        <th>
            Delievery Date
        </th>
        <th>
            Total Price
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

@foreach (var order in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => order.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.DelieveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => order.Comments)
        </td>
        <td>
            @Html.ActionLink("Details", "View", new { id = order.ID })

            @if ((Session["LoginUser"] != null) && (Session["LoginUser"] as Repository.Models.Customer).IsAdmin)
            {
                <span> | </span>
                @Html.ActionLink("Edit", "Edit", new { id = order.ID })
                <span> | </span>
                <a class="delete-link" href="@Url.Action("Delete", new { id = order.ID })">Delete</a>
                <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@order.ID">Confirm Delete</div>
            }
        </td>
    </tr>
}

</table>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("a.delete-link").click(function () {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var deleteItem = function () {
                    removeEvents();
                    confirmButton.hide();
                    $.get(
                        '@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                       .done(function () {
                           var parentRow = deleteLink.parents("tr:first");
                           parentRow.fadeOut('fast', function () {
                               parentRow.remove();
                           });
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                var removeEvents = function () {
                    confirmButton.off("click", deleteItem);
                };

                var showDeleteLink = function () {
                    confirmButton.hide();
                    deleteLink.show();
                };

                confirmButton.on("click", deleteItem);

                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}




