@model List<Repository.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

@if (Session["LoginUser"] == null || !(Session["LoginUser"] as Repository.Models.Customer).IsAdmin)
{
    <div>
        <h2>You are not authorized to view this page</h2>
    </div>
}
else
{
    <h2>Customers</h2>

    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Search Customers</b></div>
            <div class=" panel-body">
                <form class="form-inline" role="form" action="@Url.Action("Index", "Customer")" method="get">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="id"><b>ID</b></label>
                        <div>
                            <input type="text" class="form-control" id="id" name="id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="firstName"><b>Forename</b></label>
                        <div>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lastName"><b>Surname</b></label>
                        <div>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="address"><b>Address</b></label>
                        <div>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Filter</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

                <table class="table">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Is Prefered
                        </th>
                        <th></th>
                    </tr>

                    @foreach (Repository.Models.Customer customer in Model)
        {
                        <tr>
                            <td>
                                @customer.ID
                            </td>
                            <td>
                                @customer.Name
                            </td>
                            <td>
                                @customer.LastName
                            </td>
                            <td>
                                @customer.Address
                            </td>
                            <td>
                                @customer.Phone
                            </td>
                            <td>
                                @customer.Prefered
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = customer.ID }) |
                                <a class="delete-link" href="@Url.Action("Delete", new { id = customer.ID })">Delete</a>
                                <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@customer.ID">Confirm Delete</div>
                            </td>
                        </tr>
        }

                </table>

                }


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("a.delete-link").click(function () {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var cancelDelete = function () {
                    removeEvents();
                    showDeleteLink();
                };

                var deleteItem = function () {
                    removeEvents();
                    confirmButton.hide();
                    $.get(
                        '@Url.Action("Delete")',
                        AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                       .done(function () {
                           var parentRow = deleteLink.parents("tr:first");
                           parentRow.fadeOut('fast', function () {
                               parentRow.remove();
                           });
                       }).fail(function (data) {
                           alert("error");
                       });
                    return false;
                };

                var removeEvents = function () {
                    confirmButton.off("click", deleteItem);
                    $(document).on("click", cancelDelete);
                    $(document).off("keypress", onKeyPress);
                };

                var showDeleteLink = function () {
                    confirmButton.hide();
                    deleteLink.show();
                };

                var onKeyPress = function (e) {
                    //Cancel if escape key pressed
                    if (e.which == 27) {
                        cancelDelete();
                    }
                };

                confirmButton.on("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).on("keypress", onKeyPress);

                return false;
            });

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}
